RewriteEngine On
RewriteCond %{HTTP_HOST} ^ravipanghat\.co\.uk$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.ravipanghat\.co\.uk$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteRule (.*)$ https://ravipanghat.uk/$1 [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://divi3.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://divi3.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360uk.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://littleplanet360uk.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://magento.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://magento.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://magento2.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://magento2.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravipanghat.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravipanghat.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://subdomains.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://subdomains.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.divi3.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.divi3.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360uk.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.littleplanet360uk.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.magento.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.magento.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.magento2.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.magento2.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravipanghat.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravipanghat.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.subdomains.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.subdomains.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://divi3.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://divi3.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360uk.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://littleplanet360uk.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://magento.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://magento.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://magento2.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://magento2.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravipanghat.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravipanghat.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://subdomains.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://subdomains.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.divi3.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.divi3.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360uk.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.littleplanet360uk.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.magento.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.magento.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.magento2.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.magento2.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravipanghat.co.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravipanghat.co.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravipanghat.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.subdomains.ravipanghat.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.subdomains.ravipanghat.uk$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

